[Desktop Entry]
Type=Application
Name=Albert
Exec=albert
Icon=/usr/share/icons/Paper/24x24/apps/0ad.png
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
